<nav class="navigation">
  <div id="api-nav-header">
    <div id="api-nav-title">Packages</div>
  </div>
  <div class="package-list">
    <div class="nano-content">
      <ul>
        {{#each packageNameList}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="class-list">
    <ul>

      {{#if hasClass}}
        {{#each classList}}
          <li>
            {{#if @first}}
              <h4> Classes </h4>
            {{/if}}
            <a href="{{assetsPathPrefix}}{{packagePath}}/{{name}}.html">{{name}}</a>
          </li>
        {{/each}}
      {{/if}}

      {{#if hasAbstractClass}}
        {{#each abstractClassList}}
          <li>
            {{#if @first}}
              <h4> Abstract Class </h4>
            {{/if}}
            <a href="{{assetsPathPrefix}}{{packagePath}}/{{name}}.html">{{name}}</a>
          </li>
        {{/each}}
      {{/if}}

      {{#if hasEnum}}
        {{#each enumList}}
          <li>
            {{#if @first}}
              <h4> Enum </h4>
            {{/if}}
            <a href="{{assetsPathPrefix}}{{packagePath}}/{{name}}.html">{{name}}</a>
          </li>
        {{/each}}
      {{/if}}

      {{#if hasException}}
        {{#each exceptionList}}
          <li>
            {{#if @first}}
              <h4> Exception </h4>
            {{/if}}
            <a href="{{assetsPathPrefix}}{{packagePath}}/{{name}}.html">{{name}}</a>
          </li>
        {{/each}}
      {{/if}}

    </ul>
  </div>
</nav>
